<% include partials/header %>
<h1> Book page grounds </h1>
    
    <div class = "container">
        <header class = "jumbotron">
            <div class="container">
                <h1>This is the books page, Welcome</h1>
                <p> View our books.</p>
                <p><a class = "btn btn-primary btn-lg" href = "/books/new">Add/purchase a new book</a></p>
            </div>
        </header>
        
        <div class="row text-center" style = "display:flex, flex-wrap: wrap;">
            <!-- Loops and displays each object in the array  -->
            <% books.forEach(function(book){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail"> 
                        <img src = "<%= book.image %>">
                    </div>
                            
                    <div class = "caption">
                        <h4><%= book.name %></h4>
                    </div>
                    
                    <p>
                        <a href="/books/<%= book._id %>" class= "btn btn-primary">More Info</a>
                    </p>
                </div>
            <% }); %>
        </div>
    </div>

<!-- Once the link is clicked, this will display on the bottom  -->
<% include partials/footer %>