<!--  Path to the file -->
<% include partials/header %>

<h1> Landing in Books Page this </h1>

<p> Welcome to the book store: default nothing after slash </p>

<a href = "/books">View all Books</a>

<% include partials/footer %>